.t1{
	color: #107db7;
}
.container{
	font-size: 80% !important;
}

.container-two{
	font-size: 63% !important;
}

.question{
    text-align: left;
    float: left;
    width: 60%;
}

.answer{
	float: right;
    width: 40%;
    font-style: italic !important;
}

.master{
	font-size: 85% !important;
}

.materia{
	font-size: 75% !important;
}

.autor{
	font-size: 75% !important;
}